<app-header></app-header>
<app-title-header [featureEnabled]="dataService?._DYNAMIC_FEATURE" [title]="dataService.title" [cover]="dataService.cover" [description]="dataService.description" [coinData]="selectedCoin" (selectedCoin)="changeSelectedCoin($event)"></app-title-header>

<div class="container">
    <div class="row row-cols-1">
        <div class="col">
            <form class="mt-4" *ngIf="dataService?._DYNAMIC_FEATURE">
                <div class="form-group form-inline">
                    <input class="form-control ml-2" [placeholder]="dataService?.placeholder" style="width: 100%" type="text" name="searchTerm" [(ngModel)]="dataService.searchTerm" />
                    <span class="ml-3" *ngIf="dataService?.loading | async">Loading...</span>
                </div>
            </form>
        </div>
        <div class="col" [ngSwitch]="routeUrl">
            <app-country *ngSwitchCase="availableRoutes[0]" [dataService]="narrow(dataService, 'country')" [coinData]="selectedCoin"></app-country>
            <app-billionaires *ngSwitchCase="availableRoutes[1]" [dataService]="narrow(dataService, 'billionaire')" [coinData]="selectedCoin"></app-billionaires>
            <app-athletes *ngSwitchCase="availableRoutes[2]" [dataService]="narrow(dataService, 'athlete')" [coinData]="selectedCoin"></app-athletes>
            <app-car *ngSwitchCase="availableRoutes[3]" [dataService]="narrow(dataService, 'car')" [coinData]="selectedCoin"></app-car>
            <app-house *ngSwitchCase="availableRoutes[4]" [dataService]="narrow(dataService, 'house')" [coinData]="selectedCoin"></app-house>
            <app-snp500 *ngSwitchCase="availableRoutes[5]" [dataService]="narrow(dataService, 'snp500')" [coinData]="selectedCoin"></app-snp500>
            <app-crypto *ngSwitchCase="availableRoutes[6]" [dataService]="narrow(dataService, 'crypto')" [coinData]="selectedCoin"></app-crypto>
            <app-wealthy *ngSwitchCase="availableRoutes[7]" [dataService]="narrow(dataService, 'wealthy')" [coinData]="selectedCoin"></app-wealthy>
            <app-nba *ngSwitchCase="availableRoutes[8]" [dataService]="narrow(dataService, 'nba')" [coinData]="selectedCoin"></app-nba>
            <app-presidential-candidates *ngSwitchCase="availableRoutes[9]" [dataService]="narrow(dataService, 'presidentialCandidates')" [coinData]="selectedCoin"></app-presidential-candidates>
            <app-btcppr *ngSwitchCase="availableRoutes[10]" [dataService]="narrow(dataService, 'btcppr')"></app-btcppr>
        </div>
    </div>
</div>
<app-footer></app-footer>
