<div class="container mt-5">
    <h1 class="font-weight-bold display-4 my-4">{{ title }}</h1>
    <!-- <img [src]="cover" *ngIf="cover" class="img-fluid rounded mx-auto d-block" /> -->
    <div class="lead my-4 text-secondary" style="line-height: 45px" [innerHTML]="description"></div>
    <div class="row" *ngIf="featureEnabled">
        <div class="col">
            <div class="peer" *ngIf="coinData">
                <div class="btn-group btc-value-wrapper">
                    <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-inline-flex align-items-center justify-content-end p-10">
              <img width="34" height="34" class="mb-2" [src]="coinData.image" />
              <h1 class="ml-2 coin-price">${{ coinData.price | number: '1.2-2' }}</h1>
            </span>
          </button>
                    <div class="dropdown-menu">
                        <div class="dropdown-item btn btn-lg" *ngFor="let coin of coins; let i = index" (click)="changeCoin(i)">
                            <span class="d-inline-flex align-items-center justify-content-end p-10">
                <img width="34" height="34" class="mb-2" [src]="coin.image" />
                <h3 class="ml-2">{{ coin.name }}</h3>
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
