<section id="footer" class="border-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-4 mb-4">
                <ul class="list-unstyled list-inline social text-center">
                    <label>Powered By &copy; Statyz</label>
                    <li class="list-inline-item ml-4">
                        <a target="_blank" href="https://instagram.com/statyz1">Follow us <i class="bi bi-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <hr />
        </div>
    </div>
</section>